@import "tailwindcss";



@font-face {
  font-family: 'Outfit';
  src: url('assets/fonts/outfit.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('assets/fonts/Oswald.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Avant Garde Book BT';
  font-weight: 700;
  src: url('assets/fonts/AVGARDN_2.woff') format('woff');
}


@font-face {
  font-family: 'Avant Garde Demi BT';
  font-style: normal;
  src: url('assets/fonts/AVGARDD_2.woff') format('woff');
}


@font-face {
  font-family: 'Avant Garde Demi Oblique BT';
  font-style: normal;
  src: url('assets/fonts/AVGARDDO_2.woff') format('woff');
}

@font-face {
  font-family: 'WiseSans-heavy';
  src: url('assets/fonts/wise-sans-heavy.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'WiseSans-cyrillic';
  src: url('assets/fonts/wise-sans-inter-cyrillic-normal.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'WiseSans-greek';
  src: url('assets/fonts/wise-sans-inter-greek-normal.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'WiseSans-latin';
  src: url('assets/fonts/wise-sans-inter-latin-ext-normal.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'WiseSans-inter';
  src: url('assets/fonts/wise-sans-inter-normal.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-outfit: "Outfit", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-oswald: "Oswald", sans-serif;
  --font-avantGrade-book: "Avant Garde Book BT", sans-serif;
  --font-avantGrade-demi: "Avant Garde Demi BT", sans-serif;
  --font-avantGrade-bt: "Avant Garde Demi Oblique BT", sans-serif;
  --font-wise-heavy: "WiseSans-heavy", sans-serif;
  --font-wise-cyrillic: "WiseSans-cyrillic", sans-serif;
  --font-wise-greek: "WiseSans-greek", sans-serif;
  --font-wise-latin: "WiseSans-latin", sans-serif;
  --font-wise-inter: "WiseSans-inter", sans-serif;
}

.font-outfit {
  font-family: var(--font-outfit);
}

.font-inter {
  font-family: var(--font-inter);
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-oswald {
  font-family: var(--font-oswald);
}

.font-book {
  font-family: var(--font-avantGrade-book);
}

.font-demi {
  font-family: var(--font-avantGrade-demi);
}

.font-bt {
  font-family: var(--font-avantGrade-bt);
}

.font-wise {
  font-family: var(--font-wise-heavy);
}

.font-wise-cl {
  font-family: var(--font-wise-cyrillic);
}

.font-wise-gr {
  font-family: var(--font-wise-greek);
}

.font-wise-lt {
  font-family: var(--font-wise-latin);
}

.font-wise-it {
  font-family: var(--font-wise-inter);
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}